<div class="game-tabs">
    <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
        <mat-tab label="About">
            <p class="game-tabs-par" *ngIf="game.parent_platforms?.length">
                Platforms: <span *ngFor="let game of game.parent_platforms; let last = last">{{game.platform.name}}<span *ngIf="!last">, </span></span>
            </p>
            <p class="game-tabs-par" *ngIf="game.publishers?.length">
                Publishers: <span *ngFor="let publisher of game.publishers; let last = last">{{publisher.name}}<span *ngIf="!last">, </span></span>
            </p>
            <p class="game-tabs-par">
                Website: <a href="#" target="_blank" class="game-tabs-link"></a>
            </p>
            <div class="game-description">Some Description
                <p class="game-tabs-votes">
                    <span>
                        <mat-icon class="game-votes-up">thumb_up</mat-icon>
                        <span class="game-votes-count">55</span>
                    </span>
                    <span>
                        <mat-icon class="game-votes-down">thumb_down</mat-icon>
                        <span class="game-votes-count">0</span>
                    </span>
                </p>
            </div>
        </mat-tab>
        <mat-tab label="Screenshots">
            <img src="" alt="" class="gamescreenshot">
        </mat-tab>

        <mat-tab label="Trailers">
            <video class="game-trailer" controls src="">

            </video>    
        </mat-tab>
    </mat-tab-group>
</div>
